<%= form_for [@photo, @photo.comments.build] do |f| %>
    <div class="form-group">
     <label for="usr">Name:</label>
     <%= f.text_field :author, :value => current_user.username,:readonly => true, class: "form-input" %>
    </div>
   
    <div class="form-group">
  	  <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
	</div>

    <%= f.submit %>
<% end %>
